# Maven target directory
/target/

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ IDEA project files
.idea/
*.iml
*.ipr
*.iws

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code project files
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Spring Boot specific
.spring-boot-devtools.properties
