<div class="sidebar" data-background-color="dark" th:fragment="sidebar">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a th:href="@{/index}" class="logo">
                <img
                        src="assets/img/kaiadmin/logo_light.svg"
                        alt="navbar brand"
                        class="navbar-brand"
                        height="20"
                />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item active">
                    <a
                            data-bs-toggle="collapse"
                            th:href="@{/index}"
                            class="collapsed"
                            aria-expanded="false"
                    >
                        <i class="fas fa-home"></i>
                        Juegos
                    </a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link d-flex align-items-center" href="#Estudios">-->
<!--                        <i class="fas fa-table"></i>-->
<!--                        <span class="ms-2">Estudios</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a data-bs-toggle="collapse" href="#categorias">-->
<!--                        <i class="fas fa-band-aid"></i>-->
<!--                        <p>Categorias</p>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</div>